<?xml version="1.0" encoding="utf-8"?>
<!-- wedo debug builds deliberately expose no data-injection or scheduler components. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:label="wedo课程表 Debug"
        tools:replace="android:label" />
</manifest>
